parameters:
  level: 2
  paths:
    - ../backend
  scanDirectories:
    - ../framework
    - ../backend/vendor
  excludePaths:
    analyse:
      - ../backend/vendor
      - ../*Template.php
      - ../*Refactor*
  parallel:
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
    processTimeout: 300.0
